@import url("posts/index.css");

html, body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

main {
	height: 100%;
}

main div.container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	background-color: #9EF;
}

div.container > section {
	flex-shrink: 0;
	padding: 0;
}

section.big {
	background-color: #9EF;
	order: 2;
	flex: 1;
}
section.small {
	background-color: red;
	order: 1;
	flex: 0.6180339887498948482;
}
