@import url("html.css");
@import url("image.css");
@import url('https://fonts.googleapis.com/css?family=Cabin|Inconsolata|Nunito|Nunito+Sans|Pacifico|Quicksand|Rubik|VT323');

.post h1 {
	font-family: "Pacifico";
}

.post {
	font-family: Nunito;
	height: 100%;
}